.weightbox {
  margin: auto;
  width: 200px;
  height: 100px;
  padding: 10px;
  border: 2px groove black;
  float: left;
  justify-content: center;
  display: none;
}
.titleproduct {
  font-size: 40px;
  font-weight: 400;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.form-control {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
#productType {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;

  outline: none;
}
.sizebox {
  margin: auto;
  width: 200px;
  height: 100px;
  padding: 10px;
  border: 2px groove black;
  float: left;
  justify-content: center;
  display: none;
}
.dimensionsbox {
  margin: auto;
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 2px groove black;
  float: left;
  justify-content: center;
  display: none;
}

#btnsave {
  border: 0;
  outline: 0;
  position: absolute;
  cursor: pointer;
  color: white;
  background-color: rgb(84, 105, 212);

  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  display: inline-flex;
  min-height: 28px;
  transition: background-color 0.24s, box-shadow 0.24s;
  right: 80px;
  top: 20px;

  float: right;
}

#btncancel {
  border: 0;
  outline: 0;
  position: absolute;
  cursor: pointer;
  color: white;
  background-color: rgb(84, 105, 212);

  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  display: inline-flex;
  min-height: 28px;
  transition: background-color 0.24s, box-shadow 0.24s;
  right: 10px;
  top: 20px;

  float: right;
}
