.weightbox {
  margin: auto;
  width: 200px;
  height: 100px;
  padding: 10px;
  border: 2px groove black;
  float: left;
  justify-content: center;
  display: none;
}
.titleproduct {
  font-size: 40px;
  font-weight: 400;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.form-control {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
#productType {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
.sizebox {
  margin: auto;
  width: 200px;
  height: 100px;
  padding: 10px;
  border: 2px groove black;
  float: left;
  justify-content: center;
  display: none;
}
.dimensionsbox {
  margin: auto;
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 2px groove black;
  float: left;
  justify-content: center;
  display: none;
}
.btnsave {
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  height: 28px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.2;
  min-width: 0px;
  padding-left: 8px;
  padding-right: 8px;
  top: 0;
  right: 0;
  color: rgb(55, 53, 47);
}
.btnsave {
  appearance: button;
  background-color: #1652f0;
  border: 1px solid #1652f0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;

  font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: absolute;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

/* CSS */

.btnsave:disabled {
  opacity: 0.5;
}

.btnsave:focus {
  outline: 0;
}

.btnsave:hover {
  background-color: #0a46e4;
  border-color: #0a46e4;
}

.btnsave:active {
  background-color: #0039d7;
  border-color: #0039d7;
}
