.box {
  margin: 10px;
  width: 270px;
  height: 170px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  border: 2px groove rgb(7, 8, 8);
  float: left;
  justify-content: center;
}
#listtitle {
  font-size: 40px;
  font-weight: 400;
  color: #070707;
  margin: 10px 10px 10px 10px;
}
#listtitle::after {
  display: block;
  content: "";
  margin-top: 10px;
  border-bottom: 1px solid #000;
}

#btnadd {
  border: 0;
  outline: 0;
  position: absolute;
  cursor: pointer;
  color: white;
  background-color: rgb(84, 105, 212);

  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  display: inline-flex;
  min-height: 28px;
  transition: background-color 0.24s, box-shadow 0.24s;
  right: 130px;
  top: 20px;

  float: right;
}

#delete-product-btn {
  border: 0;
  outline: 0;
  position: absolute;
  cursor: pointer;
  color: white;
  background-color: rgb(84, 105, 212);

  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  display: inline-flex;
  min-height: 28px;
  transition: background-color 0.24s, box-shadow 0.24s;
  right: 10px;
  top: 20px;

  float: right;
}

#product-info {
  display: inline-block;
  text-align: center;
  /* float: left; */
  font-size: larger;
  font-weight: 500;
  vertical-align: middle;
  /* padding: 10px 50px 20px; */
  /* margin: 10px 10px 10px 10px; */
}

.delete-checkbox {
  width: 17px;
  height: 17px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
  float: left;
  right: -5px;
  top: 5px;
}
